.blogpage{
    background-color: #F7F7F7;
    padding: 1% 12%;
    /* font-weight: 200; */
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
}
.blogpage_head{
    font-size: 30px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    padding: 20px;
}
.blogpage_body{
    display: flex;
    padding: 20px;
}
.blogpage_bodyblog{
    flex: 0.70;
    display: block;
    
}
 .blog{
    width: 47%;
    float: left;
    min-width: 320px;
   border: 0.5px solid lightgray;
    justify-content: center;
      margin: 10px;
      cursor: pointer;
      background-color: white;
      padding: 10px;
      border-radius: 10px;
      transition: .5s ease-in-out;
}
 .blog:hover{
    -webkit-box-shadow: -5px 4px 16px -4px rgba(145,145,145,0.48);
-moz-box-shadow: -5px 4px 16px -4px rgba(145,145,145,0.48);
box-shadow: -5px 4px 16px -4px rgba(145,145,145,0.48);
}
 .blog .blogimg_box{
position: relative;
}
 .blog img{
    width: 98%;
    text-align: center;
    margin: 0 1%;
    height: 200px;
    border-radius: 6px;
}
.blog .img_overlay{
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    display: flex;
    /* border: 1px solid white; */
    background-color: #FF5A5F;
    top: 5%;
    font-size: 12px;
    font-weight: 600;
    color: white;
    left: 5%;
    padding: 3px 10px;
    border-radius: 3px ;
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    text-align: center;
}
.blog .img_overlay2{
    transition: .5s ease;
    opacity: 1;
    position: absolute;
  
    /* border: 1px solid white; */
    
    right: 5%;
    bottom: 3%;
    color: white;

    
   
    border-radius: 6px ;
  
    text-align: center;
}
.img_overlay2 .MuiSvgIcon-root{
    color: white;
  
}
 .blog .title{
    padding:  8px 0px;
    font-size: 18px;
    font-weight: 700;
    color: #484848;
    line-height: 21px;
}
 .blog .time{
    font-size: 14px;
    padding: 6px 0;
    color: #484848;
}
 .blog .description{
    color: #484848;
    padding: 10px 0;
    font-size: 14px;
}
 .blog .blog_btmbtn{
    display: flex;
    cursor: pointer;
    height: 77px;
    padding: 15px 0;
    justify-content: space-between;
}
.blog_readmore{
    color: #FF5A5F;
    font-size: 14px;
    font-weight: 500;
}
.blog_btmbrand{
    display: flex;
    font-size: 14px;
    padding: 0px;
    color: #777777;
}
.blog_btmbtn img{
    width: 50px;
    max-width: 100%;
    height: 17px;
    padding:2px 5px 0 0;
}
.blogpage_bodyfltr{
    flex: 0.30;
    margin: 10px 10px;
  
    display: flex;
    flex-direction: column;
}




.blog_fltrsrch{
    background-color: white;
    padding: 30px  30px;
    width: 100%;
    margin-bottom: 10px;
  
    border-radius: 8px;
}
/* .blog_fltrsrch input{
    width: 300px;
    padding: 10px;
} */
.blogpage_bodyfltr .blog_category , .blog_tag, .blog_topblog{
    background-color: white;
    margin: 20px 0;
    border-radius: 8px;
    display: flex;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    flex-direction: column;
    color: #484848;
    padding: 20px ;
     text-decoration: solid rgb(72, 72, 72);
    font-size: 18px;
    width: 100%;
}
.blog_category ul{
    margin-top: 10px;
    font-size: 14px;
}
.blog_category li {
    display: flex;
    padding: 5px 0;
    color: darkgray;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
}
.blog_category li span{
    color: lightgray;
}
.blog_tag ul{
     padding: 20px 0;
    display: inline-block;
}
.blog_tag ul li{
    float: left;
    width: fit-content;
    color: white;
    margin: 5px 5px 5px 0;
    font-weight: 700;
    border-radius: 6px;
    padding: 3px ;
    font-size: 12px;
}
i.tag.icon{
    color: white;
}
.blog_topblog img{
    border-radius: 4px;
    height: 70px;
}
.blog_topblog ul{
    display: block;
    
}
.blog_topblog ul li{
    color: #484848;
    font-size: 16px;
    display: flex;
    padding: 20px 0 0 0;
}
 .topblog_head{
   margin-left: 15px;
   display: flex;
   flex-direction: column;

    
}
.topblog_head span{
    padding: 5px 0;
    color: red;
}

@media only screen and (max-width:700px){
    .blogpage{
       
        padding: 5px 0px;
     
        display: flex;
        flex-direction:column;
    }
    .blogpage_body{
        display: flex;
        align-content: center;
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }
    .blog{
        width: 85%;
        float: left;
        min-width: 150px;
       border: 0.5px solid lightgray;
        justify-content: center;
          margin: 10px  0px;
          padding: 10px 10px;
          cursor: pointer;
          background-color: white;
        
          border-radius: 10px;
          transition: .5s ease-in-out;
    }
    .blog_topblog img{
        border-radius: 4px;
        height: 60px;
    }
}