.blog_single {
  background-color: #f7f7f7;
  padding: 1% 10%;
  /* font-weight: 200; */
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
}
.blog_box {
  display: flex;
  flex-direction: column;
  flex: 0.7;
overflow: hidden;
}
.blogsingle_body {
  display: block;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  padding: 30px;
}
.blogsingle_body > img {
  width: 100%;

  margin: 20px 0;
  border-radius: 8px;
}
.blog .blog_slider{
    display: flex;
    flex-direction: column;
}
.blog_slider img{
    width: 100%;
    padding: 10px ;
}
.blogsingle_body > p {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  padding: 5px 0;
}
.blog_moralline {
  background-color: #f7f7f7;
  padding: 30px;
  border-radius: 8px;
  border-left: 8px solid #ff5a5f;
}
.blog_moralline > p {
  padding: 10px 0;
}
.blog_share {
  padding: 30px 0;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #494949;
  display: flex;
}
.blog_share ul {
  margin-left: 10px;
}
i.icon {
  color: #484848;
}
.blog_share ul li {
  display: inline;
  padding: 9px;
  margin-left: 10px;
  border-radius: 8px;
  background-color: #f7f7f7;
}
.blogsingle_body .blog_tag {
  padding: 0px;
  width: fit-content;
  font-size: 12px;
  border-radius: 4px;
  font-weight: 600;
  color: white;
  padding: 4px 8px;
  background-color: #ff5a5f;
}
.blogsingle_body .blog_title {
  font-size: 22px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  padding: 10px 0;
}
.blog_itemlist ul {
  padding: 20px 0;
}
.blog_itemlist ul li {
  display: inline;
  padding: 10px 30px 10px 0;
  color: #777777;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 30px;
}
.blog_logo {
  align-items: center;
}
.blog_logo img {
  width: 50px;
  max-width: 100%;
  height: 17px;
  padding: 5px 5px 0 0;
}
.blogsingle_body .rating {
  align-items: center;
  margin: 0px 50px;
  align-items: flex-start;
  display: flex;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
.blogsingle_body .total_review {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 510;
  color: #484848;
}
.review_box {
  display: flex;
  margin: 30px 0;
  font-family: "Nunito", sans-serif;
}
.review_box img {
  width: 70px;
  height: 50px;
  display: block;
}
.review_body {
  margin: 0 10px;
}
.review_body .user_name {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #484848;
  display: flex;
  font-weight: 700;
}
.review_body .review_date{
    font-size: 14px;
    color: #333333;
    padding: 8px 0;
    font-style:normal;
   font-weight: 400;
}
.review_body >p{
    padding: 10px 0;
    font-family: "Nunito", sans-serif;
    
}
.blogsingle_body .write_rating {
    align-items: center;
    margin: 20px 0px;
    align-items: flex-start;
    display: flex;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    color: #484848;
  }
  .review_input{
      width: 100%;
     
      
  }
  .review_input input{
      width: 100%;
      padding: 10px;
      font-size: 16px;
   
      
      
  }
  .review_inputbody{
      outline: #999999;
      padding: 10px;
      margin: 10px 0;
      width: 100%;
      border-radius: 8px;
      border: 1px solid #bebebe;
      color: #484848;
  }
  .blogsingle_body button{
      padding: 10px 30px;
      font-size: 16px;
      background-color: #ff5a5f;
      border: 2px solid #ff5a5f;
    font-family: "Nunito", sans-serif;
    outline: none;
    color: white;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;

  }

  @media only screen and (max-width:700px){
    .blog_single {
   display: block;
      padding: 2%;
   
    }
    .blog_box {
      display: block;
      flex-direction: column;
     width: 100%;
    overflow: hidden;
    }
    .blogsingle_body {
      display: block;
      background-color: white;
      margin: 10px;
    
      padding: 20px;
    }
  }