@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer-top{
  display: flex;
  justify-content: center;
 
}
.ft-left{
    background: url(/src/img/ft2.jpg);
    background-size: cover;
    flex: 0.33;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
    color: white;
    flex-direction: column;
}

.ft-mid{
  background: url(/src/img/bg1.jpeg);
    background-size: cover;
    flex: 0.33;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
    color: white;
    flex-direction: column;
 
}
.ft-mid .email-bx{
  background-color: transparent;
  border-bottom: 1px solid black;
  padding: 2px;
  margin: 20px;
  color: white;

}
.ft-left .ft-find{
  font-size: 16px;
  color: white;
  padding: 10px;
  margin: 28px;
  display: flex;
  justify-content: space-between;
}
.ft-mid input{
  padding: 5px;
      border: none;
      outline: none;
      font-size: 15px;
      background: transparent;
      color: white;
}
.ft-mid .MuiSvgIcon-root{
  color: black;
  cursor: pointer;
  margin-left: 10px;
  font-size: x-large;
}

.ft-right{
  background: url(/src/img/ft2.jpg);
  background-size: cover;
  flex: 0.33;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  color: white;
  flex-direction: column;
}

 .ft-right .MuiSvgIcon-root{
  color: white;
 margin: 20px;
 font-size: 60px;
}
.jump{
    background-color: #FF5A5F;

    color: white;
    display: flex;
    justify-content: space-between;
    padding: 60px 100px;
}
.jump-name{
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
}
.jump-tagdtls{
    font-size: 18px;
    
    padding: 10px 20px ;
}
.jump-btn{
  font-size: 25px;
    padding: 15px;
    font-weight: 700;
}
.jump-btn button{
    background-color: rgb(235, 157, 159);
    color: white;
    padding: 20px ;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 10px;
}
.jump-btn button:hover{
    background-color: white;
    cursor: pointer;
    color: #FF5A5F;
}

.footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: stretch; */
  background: #24334A;
  padding: 20px 50px;
  font-family: sans-serif;
  
}

.footer > div {
  padding: 0 20px;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  flex: 1 1 200px;
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  line-height: 34px;
  size: 14px;
  font-weight: 500;
}
.quick-links li a{
  text-decoration: none;
  color: lightgray;
}
.about-site p{
  
  flex: 2;
  flex-basis: 300px;
  color: lightgray;
}
/* .quick-links{
  flex: 1;
}
.contact-us{
  flex: 1;
}
.follow-us{
  flex: 1;
} */
/* .footer > div h2{
  color: #ffffff;
  margin: 20px;
} */
.follow-us li{
  display: inline;
  list-style: none;
  padding: 0 5px;
  color: gray;
}
.subscribe input {
  padding: 8px 10px;
  border-radius: 25px;
  border: 0;
  background: #364765;
  color: #ffffff ;
}
.subscribe button{
  width: 35px;
  height: 35px;
  padding-top: 2px;
  margin-top: 5px;
  /* padding: 5px; */
  border-radius: 50%;
  border: 0;
  background: #364765;
  color: #ffffff;
  margin:0 5px;
}
 li{
   list-style: none;
   color: lightgray;
   /* padding: 5px 0; */
 }
 h2{
   padding: 0;
 }
  .ft-btm-hd{
   color: #ffffff;
   font-family: Saira,Arial,Helvetica, sans-serif;
   font-weight: 700;
   line-height: 27px;
   font-style: normal;
   font-size: 18px;
   display: flex;
  justify-content: left;
   margin: 20px 0;
 }

 .sub-footer{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   padding: 30px 10px;
   /* justify-content:space-around; */
   background: #1D293F;
   
 }
 
 .sub-footer div{
   justify-content:center;
   /* align-items: center; */
   align-items: center;
   flex: 1 1 200px;
   /* height: 100px; */
 }
 .footer2 li{
  list-style: none;
  display: inline;
  /* margin-left: 50px; */
 }
 .footer2 li a{
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  line-height: 34px;
  size: 14px;
  font-weight: 500;
   margin: 20px 5px ;
 }
 .copyright p{
  font-family: Nunito;
  color: #ffffff;
  line-height: 34px;
  size: 14px;
  font-weight: 500;
  padding: 0 0px;
 }
 .MuiSvgIcon--root {
  font-size :16px; 
  }
  @media only screen and (max-width:700px){
    .footer-top{
      display:block;
      justify-content: center;
     
    }
    .ft-left, .ft-mid, .ft-right{
      font-size: 30px;
    }
    .jump{
      padding: 10px;
    }
    .jump-name{
      font-size: 22px;
      font-weight: 600;
      padding: 20px;
  }
  .jump-tagdtls{
    font-size: 14px;
    
    padding: 10px 20px ;
}.jump-btn{
  font-size: 16px;
 
   
}
.jump-btn button{
  background-color: rgb(235, 157, 159);
  color: white;
  padding: 10px ;
  font-weight: 700;
  outline: none;
  margin-top: 5px;
  border: none;
  border-radius: 10px;
}
  }